{% load staticfiles %}

{% block page_content %}
<div class="card">
    <div>
        <img style="width:40px; height:40px " class="rounded-circle" src="{{ user.profile.image.url }}" alt="">
        {{ user.username }}
    </div>
    <img class="card-img-top" src="{% static 'My_blog/images/django.png' %}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More</a>
    </div>
    <div class="card-footer">
        {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
        {% endfor %}

        <small class="text-muted">{{ post.created_on }}</small>
    </div>
</div>
{% endblock %}
