.nav-item:hover{
    background-color: bisque;
}
#h1{
    padding:100px;
    font-size: 70px;
    font-family: Monaco;
}
.card img{
    width: 100%;
    height: auto;
}
.card-deck  {
    max-width: 40%;
    height: auto;
}
.card-footer small{
    float: right;
}
#create_post{
    float: right;
}
.ml-100{
    margin-left: 100px;
}