{% extends 'base.html' %}
{% load staticfiles %}
{% block  page_head %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'My_blog/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block page_content %}
    <div class="container text-center">
        <h1 id="h1">My first web blog</h1>
        <h4><i>Click <a href="{% url 'posts_list' %}">here</a> to see the recent posts</i></h4>
    </div>

{% endblock %}
