{% extends 'base.html' %}
{% load staticfiles %}
{% block  page_head %}
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'My_blog/css/main.css' %}">
{% endblock %}

{% block page_content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    Post {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div>
            <h1>
                {{ post.title }}
            </h1>
            <img class="mt-40" width="auto" height="300" src="{{ post.image.url }}" alt="">
            <p class="mt-40">
                {{ post.content }}
            </p>
            <p class="mt-40">
                {{ post.created_on }}
            </p>
        </div>
        <hr/>
        <div id="">
        <h4>Leave a comment:</h4>
        <form  class="commentForm" action="{% url 'comment_create_url' post.slug %}" method="post" data-url="{% url 'comment_create_url' post.slug %}">{% csrf_token %}
            <input type="text" name="content" id="commentContent">
            <input type="submit" value="Submit" class="btn btn-outline-success">
        </form>
        <div>
            {{ post.comments.count }} Comment{{ comments|pluralize }}
            {% for com in post.comments.all %}
                <blockquote id="commentsection" class="blockquote">
                    <p class="mb-0">{{ com.content }}
                        <small id="replyCount">( {{ com.reply.count }} reply)</small>
                    </p>
                    <footer class="blockquote-footer">by <cite title="Source Title">{{ com.user|capfirst }}</cite>
                        on {{ com.timestamp }}</footer>
                    <button onclick='myfunction({{ forloop.counter }})' class="reply_button btn btn-outline-primary"
                            type="button">Reply
                    </button>
                    <div class="hidden" id="{{ forloop.counter }}">
                        <form class="replyForm" action="{% url 'reply_create_url' post.slug com.pk %}"
                              method="post">{% csrf_token %}
                            <input type="text" name="content">
                            <input type="submit" value="Reply" class="btn btn-outline-success">
                        </form>
                    </div>

                    {% for reply in com.reply.all %}
                        <blockquote class="blockquote ml-50">
                            <p class="mb-0">{{ reply.content }}</p>
                            <footer class="blockquote-footer">by <cite
                                    title="Source Title">{{ reply.user|capfirst }}</cite>
                                on {{ reply.timestamp }}</footer>
                        </blockquote>

                    {% endfor %}

                </blockquote>

            {% endfor %}
        </div>
        </div>


        <a href="{{ post.get_update_url }}">
            <button class="btn btn-primary">Update this post</button>
        </a>
        <a class="" href="{% url 'post_new_delete' post.id %}">
            <button class="btn btn-primary">Delete this post</button>
        </a>
    </div>
   <script>
        function myfunction(commentId) {
            var replybtn = document.getElementById(commentId);

            if (replybtn.style.display == "block") {
                replybtn.style.display = "none";
            } else {
                replybtn.style.display = "block";
            }
        }
    </script>



{% endblock %}

