{% extends 'base.html' %}
{% load staticfiles %}
{% block  page_head %}
    <title>{{ Tags }}</title>
    <link rel="stylesheet" href="{% static 'My_blog/css/main1.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block page_content %}
    <div class="container">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <h2>Tags</h2>
            <a class="ml-auto" href="{% url 'tag_create' %}">
                <button class="btn btn-primary">Create a new tag</button>
            </a>
        </div>
        {% for tag in tags %}
            <a href="{{ tag.get_absolute_url }}">
                <button class="btn btn-danger">{{ tag.title }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}
